Node-RED flow/flows.json
[{"id":"1a97385.daeeac8","type":"tab","label":"PLE","disabled":false,"info":""},{"id":"2dc227ac.c86478","type":"ui_form","z":"1a97385.daeeac8","name":"Predictiong Life Expectancy","label":"Predicting Life Expectancy of people of the country","group":"62b7d42c.51595c","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"c","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"s","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alchl","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles ","value":"m","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"p","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"dpthra","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"popltn","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"thns1_19","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"thns5_9","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"ic","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schlng","type":"number","required":true,"rows":null}],"formValue":{"c":"","year":"","s":"","a":"","i":"","alchl":"","pe":"","hb":"","m":"","bmi":"","ufd":"","p":"","te":"","dpthra":"","hiv":"","gdp":"","popltn":"","thns1_19":"","thns5_9":"","ic":"","schlng":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Testing of Model","x":120,"y":440,"wires":[["4c55aa1e.b321c4"]]},{"id":"81ee1d26.450ed","type":"debug","z":"1a97385.daeeac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":40,"wires":[]},{"id":"4c55aa1e.b321c4","type":"function","z":"1a97385.daeeac8","name":"pre Token","func":"//global.set([\"country\",\"Year\",\"Status\",\"Adult_Mortality\",\"infant_deaths\",\"Alcohol\",\"percentage_expenditure\",\"Hepatitis_B\",\"Measles\",'BMI',\"under_five_deaths\",'Polio','Total_expenditure','Diphtheria','HIV/AIDS','GDP','Population', 'thinness_1-19 years','thinness 5-9 years', 'Income_composition_of_resources', 'Schooling'],[msg.payload.c,msg.payload.year,msg.payload.s,msg.payload.a,msg.payload.i,msg.payload.alchl,msg.payload.pe,msg.payload.hb,msg.payload.m,msg.payload.bmi,msg.payload.ufd,msg.payload.p,msg.payload.te,msg.payload.dpthra,msg.payload.hiv,msg.payload.gdp,msg.payload.popltn,msg.payload.thns1-19,msg.payload.thns5-9,msg.payload.ic,msg.payload.schlng])\nglobal.set(\"country\",msg.payload.c)\nglobal.set(\"Year\",msg.payload.year)\nglobal.set(\"Status\",msg.payload.s)\nglobal.set(\"Adult_Mortality\",msg.payload.a)\nglobal.set(\"infant_deaths\",msg.payload.i)\nglobal.set(\"Alcohol\",msg.payload.alchl)\nglobal.set(\"percentage_expenditure\",msg.payload.pe)\nglobal.set(\"Hepatitis_B\",msg.payload.hb)\nglobal.set(\"Measles\",msg.payload.m)\nglobal.set(\"BMI\",msg.payload.bmi)\nglobal.set(\"under-five_deaths\",msg.payload.ufd)\nglobal.set(\"Polio\",msg.payload.p)\nglobal.set(\"Total_expenditure\",msg.payload.te)\nglobal.set(\"Diphtheria\",msg.payload.dpthra)\nglobal.set(\"HIV/AIDS\",msg.payload.hiv)\nglobal.set(\"GDP\",msg.payload.gdp)\nglobal.set(\"Population\",msg.payload.popltn)\nglobal.set(\"thinness_1-19_years\",msg.payload.thns1_19)\nglobal.set(\"thinness_5-9_years\",msg.payload.thns5_9)\nglobal.set(\"Income_composition_of_resources\",msg.payload.ic)\nglobal.set(\"Schooling\",msg.payload.schlng)\n\nvar apikey=\"BIcbRMCrxoUfzhCMsf-dVRoYSC52T1G3HmUD5vxrYiMj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":240,"wires":[["838371f.9e6cc9"]]},{"id":"ba454428.0dab28","type":"ui_text","z":"1a97385.daeeac8","group":"42fc6fb9.044ab","order":2,"width":0,"height":0,"name":"","label":"Expected life","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":440,"wires":[]},{"id":"fe928fe9.a25c7","type":"inject","z":"1a97385.daeeac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["4c55aa1e.b321c4"]]},{"id":"838371f.9e6cc9","type":"http request","z":"1a97385.daeeac8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":160,"wires":[["254822e0.1a08ee"]]},{"id":"254822e0.1a08ee","type":"function","z":"1a97385.daeeac8","name":"","func":"var country=global.get(\"country\")\nvar year=global.get(\"Year\")\nvar status=global.get(\"Status\")\nvar adult_mortality=global.get(\"Adult_Mortality\")\nvar infant_deaths=global.get(\"infant_deaths\")\nvar alcohol=global.get(\"Alcohol\")\nvar prcntg_exp=global.get(\"percentage_expenditure\")\nvar hepatitisb=global.get(\"Hepatitis_B\")\nvar measles=global.get(\"Measles\")\nvar bmi=global.get(\"BMI\")\nvar ufd=global.get(\"under-five_deaths\")\nvar polio=global.get(\"Polio\")\nvar ttl_exp=global.get(\"Total_expenditure\")\nvar diptheria=global.get(\"Diphtheria\")\nvar hiv=global.get(\"HIV/AIDS\")\nvar gdp=global.get(\"GDP\")\nvar population=global.get(\"Population\")\nvar thns1_19=global.get(\"thinness_1-19_years\")\nvar thns5_9=global.get(\"thinness_5-9_years\")\nvar icr=global.get(\"Income_composition_of_resources\")\nvar schlng=global.get(\"Schooling\")\n\nvar token=msg.payload.access_token\nvar instance_id=\"2bfb2e28-21ef-430f-8618-7595337fbfd9\"\nmsg.headers={\"content-type\":\"application/json\",\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={'fields': ['Country','Year','Status', 'Adult Mortality', 'infant deaths',\n       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'], \n                    'values': [[country,year,status,adult_mortality,infant_deaths,alcohol,prcntg_exp,hepatitisb,measles,bmi,ufd,polio,ttl_exp,diptheria,hiv,gdp,population,thns1_19,thns5_9,icr,schlng]]}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["a049c0e6.15c83"]]},{"id":"a049c0e6.15c83","type":"http request","z":"1a97385.daeeac8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2bfb2e28-21ef-430f-8618-7595337fbfd9/deployments/aa31661b-9f52-4d7d-a964-5dcb01bd0403/online","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":160,"wires":[["b30b5c6c.62ee9"]]},{"id":"b30b5c6c.62ee9","type":"function","z":"1a97385.daeeac8","name":"","func":"\nmsg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["ba454428.0dab28","81ee1d26.450ed"]]},{"id":"62b7d42c.51595c","type":"ui_group","z":"","name":"Group2","tab":"8cd48610.7e9398","order":1,"disp":true,"width":"6","collapse":false},{"id":"42fc6fb9.044ab","type":"ui_group","z":"","name":"status","tab":"8cd48610.7e9398","order":2,"disp":true,"width":"6","collapse":false},{"id":"8cd48610.7e9398","type":"ui_tab","z":"","name":"tab2","icon":"dashboard","disabled":false,"hidden":false}]